<form class="demo-form">
    <div class="row">
        <div class="col-md-6">
            <div>
                <label class="demo-form-label">NC Type :</label>
                <select required id="select-newNc-claimType" class="limitedNumbSelect2 form-control firstSelect" multiple="true"></select>
            </div>
            <div>

                <label  class="demo-form-label">Activity Type :</label>

                <br />

                <div  class="pretty p-icon p-curve p-jelly mt-2 ">
                    <input value="Corrective" type="radio" name="radio66">
                    <div class="state p-success">
                        <i style="margin-top: 5%;"  class="icon mdi mdi-check"></i>
                        <label style="font-size: 1rem"> Corrective</label>
                    </div>
                </div>
                <br />

                <div class="pretty p-icon p-curve p-jelly mt-2 ">
                    <input value="Preventative" type="radio" name="radio66">
                    <div class="state p-success">
                        <i style="margin-top: 5%;"  class="icon mdi mdi-check"></i>
                        <label style="font-size: 1rem"> Preventative</label>
                    </div>
                </div>


                <br />

                <div class="pretty p-icon p-curve p-jelly mt-2 mb-4">
                    <input value="Repetitive" type="radio" name="radio66">
                    <div class="state p-success">
                        <i style="margin-top: 5%;" class="icon mdi mdi-check"></i>
                        <label style="font-size: 1rem"> Repetitive</label>
                    </div>
                </div>



            </div>

            <div>
                <label class="demo-form-label">NC Customer Supplier :</label>
                <select id="select-newNc-cusSup" class="limitedNumbSelect2 form-control firstSelect" multiple="true"></select>
            </div>

            <div>
                <label class="demo-form-label">Departman :</label>
                <select id="select-newNc-dep" class="limitedNumbSelect2 form-control firstSelect" multiple="true"></select>
            </div>


            <div>
                <label class="demo-form-label">Process :</label>
                <select id="select-newNc-process" class="limitedNumbSelect2 form-control firstSelect" multiple="true"></select>
            </div>


            <div id="partNoDiv">
                <label class="demo-form-label">Part No :</label>
                <select id="select-newNc-partNo" class="limitedNumbSelect2 form-control firstSelect" multiple="true"></select>
            </div>
        </div>
        <div class="col-md-6">

            <div>
                <label class="demo-form-label">NC OpenedBy</label>
                <select id="select-newNc-openBy" class="limitedNumbSelect2 form-control firstSelect" multiple="true"></select>
            </div>
            <div>
                <label class="demo-form-label">NC Resposible : </label>

                <select id="select-newNc-resposible" class="limitedNumbSelect2 form-control firstSelect" multiple="true"></select>
            </div>
            <div>
                <label class="demo-form-label">NC Id Def :</label>
                <input type="text" id="fullname" class="form-control" name="fullname" required />
            </div>
            <div>
                <label class="demo-form-label">Non conformity :</label>
                <textarea rows="2" class="form-control"></textarea>
            </div>
            <div>
                <label class="demo-form-label">QTY : </label>
                <input type="text" id="fullname" class="form-control" name="fullname" required />
            </div>


            <div>
                <label class="demo-form-label">NC Open Date</label>
                <input type="date" id="fullname" class="form-control" name="fullname" required />

            </div>
            <div>
                <label class="demo-form-label">NC Target Date : </label>
                <input type="date" id="fullname" class="form-control" name="fullname" required />
            </div>

            <div>
                <label class="demo-form-label">NC Close Date : </label>
                <input type="date" id="fullname" class="form-control" name="fullname" required />
            </div>

        </div>
    </div>




    <input id="btn-newNc-submit" class="btn btn-dark" type="submit" value="Kaydet" />
    <input id="btn-newNc-reset" class="btn btn-danger" type="submit" value="Reset" />
</form>

<script>


    $(document).ready(function () {

        $(".limitedNumbSelect2").select2({
            maximumSelectionLength: 1,
            placeholder: "operator Seçiniz"
        })
    });
    $('')
</script>