<div class="container-claimtype">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="exampleFormControlSelect1">select table row count : </label>
                <select class="form-control" id="selectRowCount-company"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Company Type : </label>
                <select class="form-control" id="selectCompanyType-company">
                    <option value="" selected>choose...</option>
                    <option value="Supplier">Supplier</option>
                    <option value="Customer">Customer</option>
                    <option value="Internal">Internal</option>
                    <option value="External">External</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 form-group">
            <button id="btn-company-add" class="btn btn-success"> Add New Company</button>
        </div>
    </div>

    <div class="container-setUp-partial">
        <table class="table table-bordered">
            <thead>

                <tr>
                    <th scope="col">Id Customer </th>
                    <th scope="col">Compnay Name</th>
                    <th scope="col">Company type</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody id="table-company"></tbody>
        </table>
        <div class="recordNotFound" id="recordNotFound_company">
            <h3>Hiç bir kayıt Bulunmamktadır</h3>
        </div>
        <nav aria-label="Page navigation example" class="nav-review">
            <ul class="pagination">
                <li class="page-item">
                    <a id="btn-company-previous" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a id="number-company-pageNumber" class="page-link">1</a></li>
                <li class="page-item">
                    <a id="btn-company-next" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tableCount">Nc Company toplam : <span id="compnayTableCount"></span></div>
</div>

<div class="modal fade" id="company-AddModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >New Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Company Name: </label>
                        <input type="text" class="form-control" id="inp-company-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Company type</label>
                        <select class="form-control" id="select-companyType-add">
                            <option value="" selected>choose Company Type</option>
                            <option value="Supplier">Supplier</option>
                            <option value="Customer">Customer</option>
                            <option value="Internal">Internal</option>
                            <option value="External">External</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-company-confirmAdd" type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="company-editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Company Name: </label>
                        <input type="text" class="form-control" id="inp-company-edit">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Company type</label>
                        <select class="form-control" id="select-companyType-edt">
                            <option value="" selected>choose Company Type</option>
                            <option value="Supplier">Supplier</option>
                            <option value="Customer">Customer</option>
                            <option value="Internal">Internal</option>
                            <option value="External">External</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-company-confirmEdit" type="button" class="btn btn-primary">Save Editing</button>
            </div>
        </div>
    </div>
</div>