<div class="container-claimtype">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="exampleFormControlSelect1">select table row count : </label>
                <select class="form-control" id="selectRowCount-department">
                    <option value="4">4</option>
                    <option value="6" selected>6</option>
                    <option value="8">8</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 form-group">
            <button id="btn-department-add" class="btn btn-success"> Add New Department</button>
        </div>
    </div>

    <div class="container-setUp-partial">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Dept ID</th>
                    <th scope="col">Department EN</th>
                    <th scope="col">Department TR</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody id="table-department"></tbody>
        </table>
        <div class="recordNotFound" id="recordNotFound_department">
            <h3>Hiç bir kayıt Bulunmamktadır</h3>
        </div>
        <nav aria-label="Page navigation example" class="nav-review">
            <ul class="pagination">
                <li class="page-item">
                    <a id="btn-department-previous" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a id="number-department-pageNumber" class="page-link">1</a></li>
                <li class="page-item">
                    <a id="btn-department-next" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tableCount">Department toplam : <span id="departmentTableCount"></span></div>
</div>
<div class="modal fade" id="department-AddModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Department TR </label>
                        <input type="text" class="form-control" id="inp-department-tr">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Department EN:</label>
                        <input type="text" class="form-control" id="inp-department-en">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-department-confirmAdd" type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="department-editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Department TR : </label>
                        <input type="text" class="form-control" id="inp-department-tr-edit">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Department EN:</label>
                        <input type="text" class="form-control" id="inp-department-en-edit">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-department-confirmEdit" type="button" class="btn btn-primary">Save Editing</button>
            </div>
        </div>
    </div>
</div>