<div class="alert alert-danger alert-welcomePage" role="alert">
    Summery of null conformites
</div>
<table class="table table-review">
    <caption>Summery of null conformites</caption>
    <thead>
        <tr>
            <th scope="col">NcId</th>
            <th scope="col">Target Date</th>
            <th scope="col">NC Type</th>
            <th scope="col">NC Resposible</th>
            <th scope="col">Part No</th>
            <th scope="col">Nc Open Date</th>
            <th scope="col">Non conformity</th>
            <th scope="col">Nc Status</th>
            <th scope="col">Nc Customer Suplier</th>
            <th scope="col">Department</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>sdvd</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfsfdfdffdfdsfdfdsfdfffffffffffffffffffffffffffffffffffffff</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>

        </tr>

        <tr>
            <td>1</td>
            <td>sdvd</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfsfdfdffdfdsfdfdsfdfffffffffffffffffffffffffffffffffffffff</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>

        </tr>
        <tr>
            <td>1</td>
            <td>sdvd</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfsfdfdffdfdsfdfdsfdfffffffffffffffffffffffffffffffffffffff</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>

        </tr>
        <tr>
            <td>1</td>
            <td>sdvd</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfsfdfdffdfdsfdfdsfdfffffffffffffffffffffffffffffffffffffff</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>

        </tr>
        <tr>
            <td>1</td>
            <td>sdvd</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfsfdfdffdfdsfdfdsfdfffffffffffffffffffffffffffffffffffffff</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>

        </tr>
        <tr>
            <td>1</td>
            <td>sdvd</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfsfdfdffdfdsfdfdsfdfffffffffffffffffffffffffffffffffffffff</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>

        </tr>
        <tr>
            <td>1</td>
            <td>sdvd</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfsfdfdffdfdsfdfdsfdfffffffffffffffffffffffffffffffffffffff</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>

        </tr>
        <tr>
            <td>1</td>
            <td>sdvd</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfsfdfdffdfdsfdfdsfdfffffffffffffffffffffffffffffffffffffff</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>

        </tr>
        <tr>
            <td>1</td>
            <td>sdvd</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfsfdfdffdfdsfdfdsfdfffffffffffffffffffffffffffffffffffffff</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>
            <td>dfvdfvf</td>

        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example"class="nav-review">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="">1</a></li>
        <li class="page-item">
            <a class="page-link" href="" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>