<div class="container-claimtype">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="exampleFormControlSelect1">select table row count : </label>
                <select class="form-control" id="selectRowCount-claimType">
                </select>
            </div>
        </div>
        <div class="col-md-3 form-group">
            <button id="btn-claimType-add" class="btn btn-success"> Add New Claim</button>
        </div>
    </div>

    <div class="container-setUp-partial">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Claim Type Id</th>
                    <th scope="col">Claim Type TR</th>
                    <th scope="col">Claim Type EN</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody id="table-claimType"></tbody>
        </table>
        <div class="recordNotFound" id="recordNotFound_claimType">
            <h3>Hiç bir kayıt Bulunmamktadır</h3>
        </div>
        <nav aria-label="Page navigation example" class="nav-review">
            <ul class="pagination">
                <li  class="page-item">
                        <a id="btn-claimType-previous" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                </li>
                <li class="page-item"><a id="number-claimType-pageNumber" class="page-link">1</a></li>
                <li  class="page-item">
                    <a id="btn-claimType-next" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tableCount">NC type toplam : <span id="claimTypeTableCount"></span></div>
</div>

<div  class="modal fade" id="claimType-AddModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Claim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Claim Type TR : </label>
                        <input type="text" class="form-control"  id="inp-claimType-tr">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Claim Type EN:</label>
                        <input type="text" class="form-control"  id="inp-claimType-en">
                    </div>
                </form>
            </div>
            <div  class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-claimType-confirmAdd" type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="claimType-editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Claim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Claim Type TR : </label>
                        <input type="text" class="form-control" id="inp-claimType-tr-edit">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Claim Type EN:</label>
                        <input type="text" class="form-control" id="inp-claimType-en-edit">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-claimType-confirmEdit" type="button" class="btn btn-primary">Save Editing</button>
            </div>
        </div>
    </div>
</div>