

<div class="container-setUp">
    <div class="alert defaultBackground" role="alert">
        <h4>
            Process Details
        </h4>
    </div>
    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group urunEtiketiSearchDiv">
                    <span class="input-group-text" style="background-color:#2A3F54;color:white">STK</span>
                    <input value="84312697" autofocus id="inp-processDetails-inputSearch" type="text" class="form-control" placeholder="ürün kodu" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="alertProcessInOrderDetails">
                    <h3>Stok</h3>
                </div>
                <div class="panel panel-default urunEtiketitableContent">
                    <table class="table table-bordered tableHoverDefault">
                        <thead>
                            <tr>
                                <th>STK</th>
                                <th>STA</th>
                                <th>Adres</th>
                            </tr>
                        </thead>
                        <tbody id="table-processDetails-searchStk" class="urunEtkietiTbody"></tbody>
                    </table>
                </div>
            </div>

            <div style="opacity:1" class="col-md-7 urunEtiketiProdcutionOrders">
                <div class="alertProcessInOrderDetails">
                    <h3>production Orders </h3>
                </div>
                <table class="table table-bordered tableHoverDefault ">
                    <thead>
                        <tr>
                            <th scope="col">PartNo_ID</th>
                            <th scope="col">Lot No</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Compl</th>
                            <th scope="col">Status</th>
                            <th scope="col">issueDate</th>
                            <th scope="col">Require Date</th>
                            <th scope="col">Reviesed Date</th>
                            <th scope="col">Remark</th>
                            <th scope="col">CloseDate</th>
                        </tr>
                    </thead>
                    <tbody id="table-processDetails-productioOrders"></tbody>
                </table>
                <div id="recordNotFoundDiv_processDetails_productionOrders" class="recordNotFoundDiv">
                    <h3></h3>
                </div>

                <nav aria-label="Page navigation example" class="nav-review">
                    <ul class="pagination">
                        <li class="page-item">
                            <a id="btn-processDetails-previous" class="page-link" href="" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a id="number-processDetails-ProductionOrders" class="page-link" href="">1</a></li>
                        <li class="page-item">
                            <a id="btn-processDetails-next" class="page-link" href="" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="clearFix">
    </div>
    <hr style="opacity:1" id="urunEtiket-scroll" />
    @*printModel*@
    <div class="row">
        <div class="col-md-6">
            <div class="alertProcessInOrderDetails">
                <h3>Process Flow</h3>
            </div>
            <div style="opacity:1" class="urunEtiketiProdcutionOrders">
                <table class="table table-bordered urunEtkietiTbody ">
                    <thead>
                        <tr>
                            <th scope="col">Flow ID</th>
                            <th scope="col">ProductorderID</th>
                            <th scope="col">Process Name</th>
                            <th scope="col">Process Qty</th>
                            <th scope="col">Ok Qty</th>
                            <th scope="col">Reject</th>
                            <th scope="col">Rework</th>
                            <th scope="col">Order No</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="table-processDetails-processFlow"></tbody>
                </table>
                <div id="recordNotFoundDiv_processDetails_processFlow" class="recordNotFoundDiv">
                    <h3></h3>
                </div>

                <nav aria-label="Page navigation example" class="nav-review">
                    <ul class="pagination">
                        <li class="page-item">
                            <a id="btn-processDetails-processFlow-previous" class="page-link" href="" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a id="number-processDetails-processFlow-pageNumber" class="page-link" href="">1</a></li>
                        <li class="page-item">
                            <a id="btn-processDetails-processFlow-next" class="page-link" href="" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
        <div class="col-md-6">
            <div class="alertProcessInOrderDetails">
                <h3>Process Flow Details</h3>
            </div>
            <div style="opacity:1" class="urunEtiketiProdcutionOrders">
                <table class="table table-bordered urunEtkietiTbody ">
                    <thead>
                        <tr>
                            <th scope="col">Start Time</th>
                            <th scope="col">Finish Time</th>
                            <th scope="col">Ok Qty</th>
                            <th scope="col">Machine</th>
                            <th scope="col">Operator</th>
                            <th scope="col">Np Time</th>
                            <th scope="col">Np Def</th>
                            <th scope="col">Defect1Qty</th>
                            <th scope="col">Defect1Name</th>
                            <th scope="col">Defect2Qty</th>
                            <th scope="col">Defect2Name</th>
                            <th scope="col">ReworkQty</th>
                            <th scope="col">ReworkName</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="table-processDetails-processFlowDetails"></tbody>
                </table>
                <div id="recordNotFoundDiv_processDetails_processFlowDetails" class="recordNotFoundDiv">
                    <h3></h3>
                </div>


                <nav aria-label="Page navigation example" class="nav-review">
                    <ul class="pagination">
                        <li class="page-item">
                            <a id="btn-processDetails-processFlowDetails-previous" class="page-link" href="" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a id="number-processDetails-processFlowDetails-pageNumber" class="page-link" href="">1</a></li>
                        <li class="page-item">
                            <a id="btn-processDetails-processFlowDetails-next" class="page-link" href="" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Process Flow-->
<!--  edit -->
<div class="modal fade" id="processFlow-editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#b13e5b;color:white">
                <h5 class="modal-title" id="exampleModalLabel">Edit Bom process</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">FlowID   : </label>
                        <input type="number" min="1" disabled class="form-control" id="inp-processFlow-edit-flowId">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Product Order Id   : </label>
                        <input disabled type="number" min="0" class="form-control" id="inp-processFlow-edit-productOrderId">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Order No : </label>
                        <input disabled type="number" min="0" class="form-control" id="inp-processFlow-edit-orderNo">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ProcessName </label><br />
                        <select id="inp-processFlow-edit-processName" class="limitedNumbSelect2 " multiple="true"></select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">process Qty  : </label>
                        <input type="number" min="0" class="form-control" id="inp-processFlow-edit-processQty">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Ok Qty : </label>
                        <input type="number" min="0" class="form-control" id="inp-processFlow-edit-okQty">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Reject   : </label>
                        <input type="number" min="0" class="form-control" id="inp-processFlow-edit-reject">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Rework   : </label>
                        <input type="number" min="0" class="form-control" id="inp-processFlow-edit-rework">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-processFlow-edit-saveEdit" type="button" class="btn btn-success">Save editing</button>
            </div>
        </div>
    </div>
</div>



<!-- Process Flow Details-->
<!--  edit -->
<div class="modal fade" id="processFlowDetails-editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#b13e5b;color:white">
                <h5 class="modal-title" id="exampleModalLabel">Edit Bom process</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">startTime   : </label>
                        <input type="text"   class="form-control" id="inp-processFlowDetails-edit-startTime">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">finish Time   : </label>
                        <input  type="text"  class="form-control" id="inp-processFlowDetails-edit-finishTime">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ok Qty : </label>
                        <input  type="number"  class="form-control" id="inp-processFlowDetails-edit-okQty">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Machine no </label><br />
                        <select id="inp-processFlowDetails-edit-machineId" class="limitedNumbSelect2 " multiple="true"></select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Operator </label><br />
                        <select id="inp-processFlowDetails-edit-operator" class="limitedNumbSelect2 " multiple="true"></select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Np Time  : </label>
                        <input type="number" min="0" class="form-control" id="inp-processFlowDetails-edit-npTime">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Np Def : </label>
                        <input type="text" class="form-control" id="inp-processFlowDetails-edit-npDef">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Defect1Qty   : </label>
                        <input type="number" min="0" class="form-control" id="inp-processFlowDetails-edit-defect1Qty">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Defect1Name   : </label>
                        <input type="number" min="0" class="form-control" id="inp-processFlowDetails-edit-defect1Name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Defect2Qty   : </label>
                        <input type="number" min="0" class="form-control" id="inp-processFlowDetails-edit-defect2Qty">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Defect2Name   : </label>
                        <input type="number" min="0" class="form-control" id="inp-processFlowDetails-edit-defect2Name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ReworkQty   : </label>
                        <input type="number" min="0" class="form-control" id="inp-processFlowDetails-edit-reworkQty">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ReworkName   : </label>
                        <input type="number" min="0" class="form-control" id="inp-processFlowDetails-edit-reworkName">
                    </div>
                    @*<div class="form-group">
                        <label for="recipient-name" class="col-form-label">inputDate   : </label>
                        <input type="text" class="form-control" id="inp-processFlowDetails-edit-inputDate">
                    </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-processFlowDetails-edit-saveEdit" type="button" class="btn btn-success">Save editing</button>
            </div>
        </div>
    </div>
</div>