
<div class="alert defaultBackground" role="alert">
    Process
</div>
<div class="container-claimtype">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group" style="margin-top:3rem">
                <div class="input-group-prepend">
                    <span class="input-group-text " style="background-color:#e73c68;color:white" id="basic-addon1">Process Adi</span>
                </div>
                <input id="inp-settingsProcessNew-searchprocessAdi" autofocus style="border-radius:0.5rem;" type="text" class="form-control" placeholder="process Name">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="exampleFormControlSelect1">select table row count : </label>
                <select class="form-control" id="selectRowCount-settingsProcessNew"></select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleFormControlSelect1">select Group: </label>
                <select class="form-control" id="selectGroup-settingsProcessNew">
                    <option value="" selected>Seç...</option>
                    <option value="01_Kesim">01_Kesim</option>
                    <option value="02_Büküm">02_Büküm</option>
                    <option value="03_Havşa">03_Havşa</option>
                    <option value="04_Kaynak">04_Kaynak</option>
                    <option value="041_KesDel">041_KesDel</option>
                    <option value="042_Hazirlik">042_Hazirlik</option>
                    <option value="06_Paketleme">06_Paketleme</option>
                    <option value="06_PaketlemeDiğer">06_PaketlemeDiğer</option>
                    <option value="06_test">06_test</option>
                    <option value="07_Mercedes">07_Mercedes</option>
                    <option value="09_Kaplama">09_Kaplama</option>
                    <option value="08_UçŞekil">08_UçŞekil</option>
                    <option value="99_Proto">99_Proto</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 form-group">
            <button id="btn-settingsProcessNew-add" class="btn btn-success"> Add New Process</button>
        </div>
        <div class="col-md-2 form-group">
            <button id="btn-settingsProcessNew-reset" style="margin-top:1.8rem" class="btn btn-danger"> Reset Search</button>
        </div>
    </div>

    <div class="container-setUp-partial">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Process No</th>
                    <th scope="col">Process Adi</th>
                    <th scope="col">Process Name</th>
                    <th scope="col">Process Day</th>
                    <th scope="col">Manhour</th>
                    <th scope="col">Group</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody id="table-settingsProcessNew"></tbody>
        </table>
        <div class="recordNotFound" id="recordNotFound_settingsProcessNew">
            <h3>Hiç bir kayıt Bulunmamktadır</h3>
        </div>
        <nav aria-label="Page navigation example" class="nav-review">
            <ul class="pagination">
                <li class="page-item">
                    <a id="btn-settingsProcessNew-previous" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a id="number-settingsProcessNew-pageNumber" class="page-link">1</a></li>
                <li class="page-item">
                    <a id="btn-settingsProcessNew-next" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tableCount"> Process toplam : <span id="settingsProcessNewTableCount"></span></div>
</div>

<div class="modal fade" id="settingsProcessNew-AddModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Process</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Process No : </label>
                        <input type="number" min="1" class="form-control" id="inp-settingsProcessNew-processNo">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Prosess Adi : </label>
                        <input type="text" class="form-control" id="inp-settingsProcessNew-processAdi">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Process Name : </label>
                        <input type="text" class="form-control" id="inp-settingsProcessNew-processName">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Process Day : </label>
                        <input type="number" min="0" class="form-control" id="inp-settingsProcessNew-processDay">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ManHour : </label>
                        <input type="number" min="0" class="form-control" id="inp-settingsProcessNew-manHour">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Group : </label>
                        <select class="form-control" id="select-settingsProcessNew-group">
                            <option value="" selected>Seç...</option>
                            <option value="01_Kesim">01_Kesim</option>
                            <option value="02_Büküm">02_Büküm</option>
                            <option value="03_Havşa">03_Havşa</option>
                            <option value="04_Kaynak">04_Kaynak</option>
                            <option value="041_KesDel">041_KesDel</option>
                            <option value="042_Hazirlik">042_Hazirlik</option>
                            <option value="06_Paketleme">06_Paketleme</option>
                            <option value="06_PaketlemeDiğer">06_PaketlemeDiğer</option>
                            <option value="06_test">06_test</option>
                            <option value="07_Mercedes">07_Mercedes</option>
                            <option value="09_Kaplama">09_Kaplama</option>
                            <option value="08_UçŞekil">08_UçŞekil</option>
                            <option value="99_Proto">99_Proto</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-settingsProcessNew-confirmAdd" type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="settingsProcessNew-editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit settingsProcessNews</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="settingsProcessNew-editForm">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Process No : </label>
                        <input type="number" min="1" class="form-control" id="edt-inp-settingsProcessNew-processNo">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Prosess Adi : </label>
                        <input type="text" class="form-control" id="edt-inp-settingsProcessNew-processAdi">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Process Name : </label>
                        <input type="text" class="form-control" id="edt-inp-settingsProcessNew-processName">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Process Day : </label>
                        <input type="number" min="0" class="form-control" id="edt-inp-settingsProcessNew-processDay">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ManHour : </label>
                        <input type="number" min="0" class="form-control" id="edt-inp-settingsProcessNew-manHour">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Group : </label>
                        <select class="form-control" id="edt-select-settingsProcessNew-group">
                            <option value="" selected>Seç...</option>
                            <option value="01_Kesim">01_Kesim</option>
                            <option value="02_Büküm">02_Büküm</option>
                            <option value="03_Havşa">03_Havşa</option>
                            <option value="04_Kaynak">04_Kaynak</option>
                            <option value="041_KesDel">041_KesDel</option>
                            <option value="042_Hazirlik">042_Hazirlik</option>
                            <option value="06_Paketleme">06_Paketleme</option>
                            <option value="06_PaketlemeDiğer">06_PaketlemeDiğer</option>
                            <option value="06_test">06_test</option>
                            <option value="07_Mercedes">07_Mercedes</option>
                            <option value="09_Kaplama">09_Kaplama</option>
                            <option value="08_UçŞekil">08_UçŞekil</option>
                            <option value="99_Proto">99_Proto</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="edt-btn-settingsProcessNew-confirmEdit" type="button" class="btn btn-primary">Save Editing</button>
            </div>
        </div>
    </div>
</div>