<div class="container-tranferWo">
    <div class="alert defaultBackground" role="alert">
            Transfer Wo's to System
    </div>
    <div class="clearfix"></div>
    <div class="Content-uretimPalni">
        <div class="row">
            <div class="col-md-4">

                <div class="input-group" style="margin-top:1.7rem">
                    <div class="input-group-prepend">
                        <span class="input-group-text defaultBackground">STK</span>
                    </div>
                    <input id="inp-tranferWo-searchStk" style="border-radius:0.5rem;" type="text" class="form-control" placeholder="ürün kodu">
                </div>
            </div>
            <div class="col-md-3" style="margin-top:1.7rem">
                <select class="custom-select uretimPlani-select" id="select-tranferWo-selectRowCount"></select>
            </div>
            <div class="col-md-5">
                <button id="btn-tranferWo-addAndTransfer" style="margin-top:1.5rem;" class="btn btn-success">Add To Wo and Clear List</button>
                <button id="btn-tranferWo-deleteAll" style="margin-top:1.5rem;margin-left:2rem;" class="btn btn-primary">Clear List</button>
                <button id="btn-tranferWo-reset" style="margin-top:1.5rem;margin-left:2rem;" class="btn btn-danger">Reset</button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="">
        <table class="table table-bordered">
            <caption style="font-weight:bold;color:black;margin-left:0;margin-bottom:1rem"> Toplam Records: <span id="span-tranferWo-rowCount" style="color:red"></span> </caption>
            <thead>
                <tr >
                    <th scope="col">PartNo ID</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Issue Date</th>
                    <th scope="col">Require Date</th>
                    <th scope="col">Remark</th>
                    <th scope="col">Control</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody id="table-tranferWo"></tbody>
        </table>
        <div id="recordNotFoundDiv_tranferWo" class="recordNotFoundDiv">
            <h3>    </h3>
        </div>
        <div class="clearFix">
        </div>

        <nav aria-label="Page navigation example" class="nav-review">
            <ul class="pagination">
                <li class="page-item">
                    <a id="btn-tranferWo-previous" class="page-link" href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a id="num-tranferWo-pageNumber" class="page-link" href="">1</a></li>
                <li class="page-item">
                    <a id="btn-tranferWo-next" class="page-link" href="" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>