<div class="alert alert-danger alert-welcomePage" role="alert">
  Sag Hidrolik- Kalite programı 
</div>
<div class="welcomepage-conainer">
    <div class="row">
        <div class="col-md-12 first-sec">
            <a href="/Home/NewNc" class="btn btn-dark">New Nc</a>
            <a href="/Home/Review" class="btn btn-dark">Review / Upadte Nc</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 second-sec">
            <a href="/Home/OpenAction" class="btn btn-dark">Open   Actions</a>
            <a href="/Home/SetUp" class="btn btn-dark">Set Up</a>
        </div>
    </div>
</div>
