
<div class="container-claimtype">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleFormControlSelect1">row count : </label>
                <select class="form-control" id="selectRowCount-reworkReport">
                    <option value="6">6</option>
                    <option value="10">10</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Year : </label>
                <select class="form-control" id="select-reworkReport-year">
                    <option value="">...</option>
                    @for (int i = 2017; i <= DateTime.Now.Year; i++)
                    {
                        <option value="@i ">@i</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Month :</label>
                <select class="form-control" id="select-reworkReport-month">
                    <option value="" selected>...</option>
                    <option value="1">Ocak</option>
                    <option value="2">şubat</option>
                    <option value="3">mart</option>
                    <option value="4">nisan</option>
                    <option value="5">mayıs</option>
                    <option value="6">haziran</option>
                    <option value="7">temmus</option>
                    <option value="8">Ağustos</option>
                    <option value="9">Eylül</option>
                    <option value="10">Ekim</option>
                    <option value="11">Kasım</option>
                    <option value="12">Aralık</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group" style="margin-top:2.8rem">
                <button id="btn-reworkReport-resetSearch" class="btn btn-primary">Reset Search</button>
            </div>
        </div>
    </div>

    <div class="container-setUp-partial">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Reject Code</th>
                    <th scope="col">Reject Name</th>
                    <th scope="col">Basınç Testi</th>
                    <th scope="col">Basınç Testi 1</th>
                    <th scope="col">Büküm</th>
                    <th scope="col">Çinko Kaplama</th>
                    <th scope="col">Etiketleme</th>
                    <th scope="col">Fikstür Kontrol</th>
                    <th scope="col">Hortum Sıkma</th>
                    <th scope="col">Hortum</th>
                    <th scope="col">Hortum Üretim</th>
                    <th scope="col">Markalama</th>
                    <th scope="col">Paketleme</th>
                    <th scope="col">Markalama</th>
                    <th scope="col">Sızdırmazlık Kaynağı</th>
                </tr>
            </thead>
            <tbody id="table-reworkReport">
            </tbody>
        </table>
        <div class="recordNotFound" id="recordNotFound_reworkReport">
            <h3>Hiç bir kayıt Bulunmamktadır</h3>
        </div>
        <nav aria-label="Page navigation example" class="nav-review">
            <ul class="pagination">
                <li class="page-item">
                    <a id="btn-reworkReport-previous" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a id="number-reworkReport-pageNumber" class="page-link">1</a></li>
                <li class="page-item">
                    <a id="btn-reworkReport-next" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tableCount"> production Report : <span id="reworkReportTableCount"></span></div>
</div>