<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sag Hidrolik</title>
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/css/all.css" rel="stylesheet">
    @*<link href="~/css/materialdesignicons.min.css" rel="stylesheet" />*@
    <!-- NProgress -->
    @*<link href="~/css/nprogress.css" rel="stylesheet">*@
    <!-- jQuery custom content scroller -->
    @*<link href="~/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />*@
    <link href="~/css/pretty-checkbox.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link rel="stylesheet" href="~/css/sweetAlertCss.css">
    <link href="~/css/pretty-checkbox.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/myStyle.css" rel="stylesheet">
    <link href="~/css/loader.css" rel="stylesheet" />

    <link href="~/css/dikey_20_80.css" rel="stylesheet" />
    <link href="~/css/yatay_30_60.css" rel="stylesheet" />
    <link href="~/css/tekli_20_80.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/jqueryUiCss.css">
    <link rel="stylesheet" href="~/css/tamirIsEmriCiktisi.css">
    <script src="~/js/jquery.min.js"></script>

    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

</head>
<body class="nav-md footer_fixed ">
    <div class="loader-Container">
        <div class="lds-hourglass"></div>
    </div>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/Home/WelcomePage" class="site_title"><i class="fa fa-paw"></i> <span>Sag Hidrolik</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/images/sag-hidrolik-logo.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <h2>Sag Hidrolik System</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3></h3>
                            <ul class="nav side-menu">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Kalite"))
                                {

                                    <partial name="RolesView/KaliteView" />
                                }
                                @if (User.Identity.IsAuthenticated && User.IsInRole("calisan"))
                                {
                                    <partial name="RolesView/UretimView.cshtml" />
                                }

                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {

                                    <partial name="RolesView/AdminView" />
                                }
                                @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                                {
                                    <partial name="RolesView/SuperAdminView.cshtml" />
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    @*<img src="images/img.jpg" alt="">John Doe*@
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a id="btn-logout" class="dropdown-item" href="#"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>
                            <li class="currentDatabase">Current Database:  <span id="currentDatabaseSpan" style="color:#b13e5b"></span></li>
                            <li class="currentRole">
                                Role:
                                @if (User.IsInRole("Kalite"))
                                {
                                    <span style="color:#b13e5b">Kalite</span>
                                }

                                @if (User.IsInRole("calisan"))
                                {
                                    <span style="color:#b13e5b">calisan</span>
                                }

                                @if (User.IsInRole("Admin"))
                                {
                                    <span style="color:#b13e5b">Admin</span>
                                }


                                @if (User.IsInRole("SuperAdmin"))
                                {
                                    <span style="color:#b13e5b">SuperAdmin</span>
                                }
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            @*<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>*@
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()

            </div>
        </div>
    </div>
    <script>
        $(function () {
            $.ajax({
                type: "get",
                contentType: "application/json;charset=utf-8",
                url: `${BaseUrl}StokGetData/GetCurrentYear`,
                success: (year) => {
                    $('#currentDatabaseSpan').text(`${year}`)
                    HideLoader();
                }
            });
        })
    </script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/fastclick.js"></script>
        <script src="~/js/nprogress.js"></script>
        <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>*@
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/sweetalert2.min.js"></script>
    <script src="~/js/jqueryUi.js"></script>
    <script src="~/js/JsBarcode.code128.min.js"></script>
    <script src="~/js/printThis.js"></script>


    <script src="~/JavaScriptForData/Source.js"></script>

    <script src="~/JavaScriptForData/Stok/stokPage.js"></script>
    <script src="~/JavaScriptForData/Stok/ProductionOrders.js"></script>
    <script src="~/JavaScriptForData/Stok/stokDetailsSecond.js"></script>
    <script src="~/JavaScriptForData/Stok/galvanize.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/Stok/stokRecetesi.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/Stok/bomProcess.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/Stok/ProcessFlowInStok.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/Uretim/gunlukHatBazindaUretim.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/Uretim/UretimBasla.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/Uretim/UretimBitir.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/Uretim/uretimPlani.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/BakimAriza/gecmisTalepler.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/BakimAriza/BakimAriza.js" type="text/javascript"></script>


    <script src="~/JavaScriptForData/Quality/SetUp/claimType.js"></script>
    <script src="~/JavaScriptForData/Quality/SetUp/company.js"></script>
    <script src="~/JavaScriptForData/Quality/SetUp/department.js"></script>
    <script src="~/JavaScriptForData/Quality/SetUp/Operators.js"></script>
    <script src="~/JavaScriptForData/Quality/SetUp/Iprocess.js"></script>
    <script src="~/JavaScriptForData/Quality/SetUp/PartNumbers.js"></script>

    <script src="~/JavaScriptForData/Quality/NewNc/NewNc.js"></script>
    <script src="~/JavaScriptForData/Quality/Review/Review.js"></script>
    <script src="~/JavaScriptForData/Quality/Review/ReviewDetails.js"></script>
    <script src="~/JavaScriptForData/Quality/OpenAction/OpenAction.js"></script>
    <script src="~/JavaScriptForData/Stok/StokAll.js"></script>
    <script src="~/JavaScriptForData/Reports/ProductionReport.js"></script>
    <script src="~/JavaScriptForData/Reports/ProductionDetailsReport.js"></script>
    <script src="~/JavaScriptForData/Reports/defectReport.js"></script>
    <script src="~/JavaScriptForData/Reports/defectDetailsReport.js"></script>
    <script src="~/JavaScriptForData/Reports/ReworkReport.js"></script>
    <script src="~/JavaScriptForData/Reports/ReworkDetailsReport.js"></script>
    <script src="~/JavaScriptForData/Reports/LostQtyReport.js"></script>
    <script src="~/JavaScriptForData/Reports/SupplierPerfReport.js"></script>
    <script src="~/JavaScriptForData/Reports/CustomerPerfReport.js"></script>
    <script src="~/JavaScriptForData/Reports/ProcessplanReport.js"></script>
    <script src="~/JavaScriptForData/Reports/MonthlyProductionReport.js"></script>
    <script src="~/JavaScriptForData/Reports/SellDateReport.js"></script>
    <script src="~/JavaScriptForData/Settings/BoxType.js"></script>
    <script src="~/JavaScriptForData/Settings/MachineSettings.js"></script>
    <script src="~/JavaScriptForData/Settings/SettignsProcessNew.js"></script>
    <script src="~/JavaScriptForData/Uretim/ProductionSummary.js"></script>
    <script src="~/JavaScriptForData/Uretim/TamirIsEmri/tamriIsEmri.js"></script>
    <script src="~/JavaScriptForData/Uretim/TamirIsEmri/tamirIsEmriCiktisi.js"></script>
    <script src="~/JavaScriptForData/Orders/OrdersManagement/OrderDetails.js"></script>
    <script src="~/JavaScriptForData/Orders/OrdersManagement/CompnentOrders.js"></script>
    <script src="~/JavaScriptForData/Orders/OrdersManagement/CustomerOrders.js"></script>
    <script src="~/JavaScriptForData/Settings/SettingsReject.js"></script>
    <script src="~/JavaScriptForData/Stok/FindInBom.js"></script>
    <script src="~/JavaScriptForData/Settings/SettingsOperator.js"></script>
    <script src="~/JavaScriptForData/Uretim/AddorUpdateProcess.js"></script>
    <script src="~/JavaScriptForData/Uretim/ProcessDetails.js"></script>
    <script src="~/JavaScriptForData/Wo/AllWo.js"></script>
    <script src="~/JavaScriptForData/Etiketler/GirisKontrol/GirisKontrol.js"></script>
    <script src="~/JavaScriptForData/Etiketler/UrunEtiketi/printModels.js"></script>
    <script src="~/JavaScriptForData/Etiketler/UrunEtiketi/urunEtiketi.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/Uretim/ProductionStart.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/TTFTeslimat/TTFTeslimat.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/TTFTeslimat/ShippmentReport.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/TranferWo/TranferWo.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/Authentication/Login.js" type="text/javascript"></script>
    <script src="~/JavaScriptForData/Authentication/systemUsers.js" type="text/javascript"></script>
</body>
</html>