<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Quality Program</title>
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    @*<link href="~/css/materialdesignicons.min.css" rel="stylesheet" />*@
    <!-- NProgress -->
    @*<link href="~/css/nprogress.css" rel="stylesheet">*@
    <!-- jQuery custom content scroller -->
    @*<link href="~/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />*@
    <link href="~/css/pretty-checkbox.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link rel="stylesheet" href="~/css/sweetAlertCss.css">
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/myStyle.css" rel="stylesheet">
    <link href="~/css/loader.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/jqueryUiCss.css">
    <script src="~/js/jquery.min.js"></script>



</head>
<body class="nav-md footer_fixed ">
    <div class="loader-Container">
        <div class="lds-hourglass"></div>
    </div>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/Home/WelcomePage" class="site_title"><i class="fa fa-paw"></i> <span>Sag Hidrolik</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/images/sag-hidrolik-logo.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <h2>Kalite Programı</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3></h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Stok işlemleri<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Home/StokPage">Stok</a></li>
                                        <li><a href="/Home/StokAll">Stok All</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> Quality <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Home/NewNc">New NC</a></li>
                                        <li><a href="/Home/Review">Review/Update NC</a></li>
                                        <li><a href="/Home/OpenAction">Open Actions</a></li>
                                        <li><a href="/Home/SetUp">Set Up</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fas fa-scroll"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Home/AllReports">All Reports</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    @*<img src="images/img.jpg" alt="">John Doe*@
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            @*<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>*@
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()

            </div>
        </div>
    </div>

    <script src="~/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/fastclick.js"></script>
        <script src="~/js/nprogress.js"></script>
        <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>*@
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/sweetalert2.min.js"></script>
    <script src="~/js/jqueryUi.js"></script>


    <script src="~/JavaScriptForData/Source.js"></script>
    <script src="~/JavaScriptForData/Quality/SetUp/claimType.js"></script>
    <script src="~/JavaScriptForData/Quality/SetUp/company.js"></script>
    <script src="~/JavaScriptForData/Quality/SetUp/department.js"></script>
    <script src="~/JavaScriptForData/Quality/SetUp/Operators.js"></script>
    <script src="~/JavaScriptForData/Quality/SetUp/Iprocess.js"></script>
    <script src="~/JavaScriptForData/Quality/SetUp/PartNumbers.js"></script>

    <script src="~/JavaScriptForData/Quality/NewNc/NewNc.js"></script>
    <script src="~/JavaScriptForData/Quality/Review/Review.js"></script>
    <script src="~/JavaScriptForData/Quality/Review/ReviewDetails.js"></script>
    <script src="~/JavaScriptForData/Quality/OpenAction/OpenAction.js"></script>
    <script src="~/JavaScriptForData/Stok/StokAll.js"></script>
    <script src="~/JavaScriptForData/Reports/ProductionReport.js"></script>
    <script src="~/JavaScriptForData/Reports/ProductionDetailsReport.js"></script>
    <script src="~/JavaScriptForData/Reports/defectReport.js"></script>
    <script src="~/JavaScriptForData/Reports/defectDetailsReport.js"></script>
    <script src="~/JavaScriptForData/Reports/ReworkReport.js"></script>
    <script src="~/JavaScriptForData/Reports/ReworkDetailsReport.js"></script>
    <script src="~/JavaScriptForData/Reports/LostQtyReport.js"></script>
    <script src="~/JavaScriptForData/Reports/SupplierPerfReport.js"></script>
    <script src="~/JavaScriptForData/Reports/CustomerPerfReport.js"></script>

</body>
</html>