
<div   id="#stokDetailsContainer" class="stokContainer">
    <ul  style="opacity:0"  id="listOfAllStokLinksInStok" class="listOfAllStokLinks">
        <li class="active" data-filter="prodcutOrders">İş emirleri</li>
        <li  data-filter="altStok">STOK</li>
        <li data-filter="galvanize">Kaplama</li>
        <li data-filter="dosya">Dosyalar</li>
    </ul>
    <div  style="opacity:0" class="mixContainer">
        <div class="mix prodcutOrders">
            <table class="table table-border tableFontMaxmize">
                <thead>
                    <tr>
                        <th scope="col">PartNo_ID</th>
                        <th scope="col">Lot No</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Compl</th>
                        <th scope="col">Status</th>
                        <th scope="col">issueDate</th>
                        <th scope="col">Require Date</th>
                        <th scope="col">Reviesed Date</th>
                        <th scope="col">Remark</th>
                        <th scope="col">CloseDate</th>
                    </tr>
                </thead>
                <tbody id="table-stok-productionOrders"></tbody>
            </table>

            <div id="recordNotFoundDiv_productionOrders" class="recordNotFoundDiv">
                <h3></h3>
            </div>
            <div class="clearFix">
            </div>
            <nav aria-label="Page navigation example" class="nav-review">


                <ul class="pagination">
                    <li class="page-item">
                        <a id="previous-table-StokDetailsFirst" class="page-link" href="" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a id="number-productionOrders-pageNumber" class="page-link" href="">1</a></li>
                    <li class="page-item">
                        <a id="next-table-StokDetailsFirst" class="page-link" href="" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--Second Table-->

        <div class="mix altStok">
            <div class="stokAltToplamDiv">
                <h4> Toplam =<span id="toplamAltStokNumber"></span></h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Tarih</th>
                        <th scope="col">Turac</th>
                        <th scope="col">Toplam</th>
                        <th scope="col">Lot</th>
                    </tr>
                </thead>
                <tbody id="table-altStok"></tbody>
            </table>
            @*<div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>*@
            <div id="recordNotFoundDiv_altStok" class="recordNotFoundDiv">
                <h3></h3>
            </div>
            <div class="clearFix">
            </div>



            <nav aria-label="Page navigation example" class="nav-review">
                <ul class="pagination">
                    <li class="page-item">
                        <a id="previous-table-StokDetailsSecond" class="page-link" href="" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a id="number-stoklAlt-pageNumber" class="page-link" href="">1</a></li>
                    <li class="page-item">
                        <a id="next-table-StokDetailsSecond" class="page-link" href="" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>


        <!--Galvanize-->
        <div class="mix galvanize" style="margin-bottom:150px;">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">STK</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Turaç</th>
                        <th scope="col">Miktar</th>

                    </tr>
                </thead>
                <tbody id="table-Galvanize"></tbody>
            </table>
            @*<div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>*@
            <div id="recordNotFoundDiv_Galvanize" class="recordNotFoundDiv">
                <h3></h3>
            </div>
            <div class="clearFix">
            </div>



            <nav aria-label="Page navigation example" class="nav-review">


                <ul class="pagination">
                    <li class="page-item">
                        <a id="previous-table-StokDetailsGalvanize" class="page-link" href="" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a id="number-galvanize-pageNumber" class="page-link" href="">1</a></li>
                    <li class="page-item">
                        <a id="next-table-StokDetailsGalvanize" class="page-link" href="" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>

        <div class="mix dosya">
            <div>
                <ul id="dosyalar" class="folder"></ul>
                @*<div class="sk-cube-grid">
                        <div class="sk-cube sk-cube1"></div>
                        <div class="sk-cube sk-cube2"></div>
                        <div class="sk-cube sk-cube3"></div>
                        <div class="sk-cube sk-cube4"></div>
                        <div class="sk-cube sk-cube5"></div>
                        <div class="sk-cube sk-cube6"></div>
                        <div class="sk-cube sk-cube7"></div>
                        <div class="sk-cube sk-cube8"></div>
                        <div class="sk-cube sk-cube9"></div>
                    </div>*@
                <div id="recordNotFoundDiv_dosyalar" class="recordNotFoundDiv">
                    <h3 id="notFoundRecordH3"></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $('.prodcutOrders').css('display', 'block');
    })
    $('#listOfAllStokLinksInStok').on('click', 'li', function () {
        $(this).addClass('active').siblings().removeClass('active');
    })

    let allclassesArray = ['prodcutOrders', 'altStok', 'galvanize', 'dosya'];
    $('#listOfAllStokLinksInStok').on('click', 'li', function (event) {
        event.preventDefault();
        allclassesArray.map(ele => {
            $(`.${ele}`).fadeOut();
        })
        let selectedTableToShow = $(this).attr('data-filter');
        let index = allclassesArray[selectedTableToShow];
        allclassesArray.splice(index, 1);
        $(`.${selectedTableToShow}`).fadeIn();
        allclassesArray.push(selectedTableToShow.toString())

    })
</script>
