<li>
    <a><i class="fas fa-2x fa-hourglass-half"></i>  Quality <span class="fas fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/Home/NewNc">New NC</a></li>
        <li><a href="/Home/Review">Review/Update NC</a></li>
        <li><a href="/Home/OpenAction">Open Actions</a></li>
        <li><a href="/Home/SetUp">Set Up</a></li>
    </ul>
</li>