<li>
    <a><i class="fas fa-2x fa-cubes"></i> Stok işlemleri<span class="fas fa-chevron-down"></span></a>
    <ul style="display:none!important" class="nav child_menu">
        <li><a href="/Home/StokPage">Stok</a></li>
        <li><a href="/Home/StokAll">Stok All</a></li>
        <li><a href="/Home/FindInBom">Finde In Bom</a></li>
    </ul>
</li>
<li>
    <a><i class="fas fa-2x fa-industry"></i> Üretim<span class="fas fa-chevron-down"></span></a>
    <ul style="display:none!important" class="nav child_menu">
        <li><a href="/Home/UretimBasla">Üretim Başla</a></li>
        <li><a href="/Home/UretimBitir">Üretim Bitir</a></li>
        <li><a href="/Home/GunlukHatBazindUretim">Günlük Hat bazında üretim</a></li>
        <li><a href="/Home/UretimPlani">Üretim Planı</a></li>
        <li><a href="/Home/ProductionSummary">Production Summary </a></li>
        <li><a href="/Home/TamirIsEmri">Rework/Tamir İş Emri</a></li>
        <li><a href="/Home/AddOrUpdateProcess">Add-Update Process</a></li>
        <li><a href="/Home/ProcessDetails">Process Details</a></li>
        <li><a href="/Home/ProductionStart">ProductionStart</a></li>

    </ul>
</li>
<li>
    <a><i class="fas fa-2x fa-hourglass-half"></i>  Quality <span class="fas fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/Home/NewNc">New NC</a></li>
        <li><a href="/Home/Review">Review/Update NC</a></li>
        <li><a href="/Home/OpenAction">Open Actions</a></li>
        <li><a href="/Home/SetUp">Set Up</a></li>
    </ul>
</li>
<li>
    <a><i class="fas fa-stamp fa-2x"></i> Etiketler <span class="fas fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/Home/UrunEtiketi">Ürün Etiketi</a></li>
        <li> <a href="/Home/SevkiyatKutuEtiketi">Sevkiyat Kutu Etiketi</a></li>
        <li> <a href="/Home/StokEtiketi">Stok Etiketi</a></li>
        <li> <a href="/Home/GirisKabulEtiketi">GirisKabulEtiketi</a></li>
        <li><a href="/Home/GirisKontrol">Giriş Kontrol </a></li>
    </ul>
</li>
<li>
    <a><i class="fas fa-2x fa-clipboard-check"></i> Reports <span class="fas fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/Home/AllReports">All Reports</a></li>
    </ul>
</li>
<li>
    <a> <i class="fas fa-2x fa-mail-bulk"></i> Genel <span class="fas fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/Home/AllWo">All Wo</a></li>
        <li><a href="/Home/TransferWoToSystem">Transfer Wo To System</a></li>
        <li><a href="/Home/TTFTeslimat">TTFTeslimat</a></li>

    </ul>
</li>

<li>
    <a><i class="fas fa-2x fa-hammer"></i> Bakım <span class="fas fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/Home/BakimOzet">Bakım Ozet</a></li>
        <li><a href="/Home/BakimAriza">Bakım Arıza</a></li>
        <li><a href="/Home/BakimSorumlulari">Bakım Sorumlulari</a></li>
        <li><a href="/Home/BakimRaporu">Bakım Raporu</a></li>
        <li><a href="/Home/BakimArizaKapama">Bakım Arıza Kapama</a></li>
        <li><a href="/Home/BakimGirisi">Bakim Girişi</a></li>
        <li><a href="/Home/BakimPlanlama">Bakim planlama</a></li>
        <li><a href="/Home/PlanliBakim">Planlı Bakım Girişi</a></li>
        <li><a href="/Home/Makineler">Makineler</a></li>
    </ul>
</li>
<li>
    <a> <i class="fas fa-2x fa-dolly"></i> Orders <span class="fas fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/Home/OrderMangement">Orders Management</a></li>
        <li><a href="/Home/PurchaseOrderMangement">Purchase Order Management</a></li>
    </ul>
</li>
<li>
    <a> <i class="fas fa-2x fa-tools"></i> Settings <span class="fas fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/Home/changeYear">Change Year</a></li>
        <li><a href="/AuthenticationData/AllSystemUsers">Users</a></li>
        <li><a href="/Home/BoxType">BoxType</a></li>
        <li><a href="/Home/Machine">Machine</a></li>
        <li><a href="/Home/SettignsProcessNew">Process</a></li>
        <li><a href="/Home/SettignsReject">Reject</a></li>
        <li><a href="/Home/SettignsOperator">Operator</a></li>
    </ul>
</li>