<li>
    <a><i class="fas fa-2x fa-cubes"></i> Stok işlemleri<span class="fas fa-chevron-down"></span></a>
    <ul style="display:none!important" class="nav child_menu">
        <li><a href="/Home/StokPage">Stok</a></li>
    </ul>
</li>
<li>
    <a><i class="fas fa-2x fa-industry"></i> Üretim<span class="fas fa-chevron-down"></span></a>
    <ul style="display:none!important" class="nav child_menu">
        <li><a href="/Home/UretimBasla">Üretim Başla</a></li>
        <li><a href="/Home/UretimBitir">Üretim Bitir</a></li>
        <li><a href="/Home/GunlukHatBazindUretim">Günlük Hat bazında üretim</a></li>
        <li><a href="/Home/TamirIsEmri">Rework/Tamir İş Emri</a></li>

    </ul>
</li>
<li>
    <a><i class="fas fa-stamp fa-2x"></i> Etiketler <span class="fas fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/Home/UrunEtiketi">Ürün Etiketi</a></li>
        <li> <a href="/Home/SevkiyatKutuEtiketi">Sevkiyat Kutu Etiketi</a></li>
    </ul>
</li>
<li>
    <a> <i class="fas fa-2x fa-mail-bulk"></i> Genel <span class="fas fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/Home/BakimAriza">Bakım Arıza</a></li>
    </ul>
</li>

<li>
    <a> <i class="fas fa-2x fa-tools"></i> Settings <span class="fas fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/Home/changeYear">Change Year</a></li>
    </ul>
</li>