/* welcome page*/

.currentDatabase {
    float: left !important;
    font-weight: bold;
    color: black;
}

.currentRole {
    float: left !important;
    font-weight: bold;
    color: black;
    margin-left: 15rem;
}

.alert {
    position: sticky;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 50%;
    margin-left: 26%;
    border-radius: 10px 120px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.defaultBackground {
    /*#2A3F54 default*/
    /*#b13e5b default*/
    /*#099679 default*/
    background-color: #b13e5b;
    color: white;
    text-align: center;
    font-size: 1rem;
}



/*start stok*/

.urunImage {
    width: 80%;
    height: 80%;
    margin-bottom: 9px;
    cursor: pointer;
    opacity: 0;
}

    .urunImage img {
        max-width: 200px;
        max-height: 200px;
        border: 2px solid #e73c68;
        padding: 5px;
    }

        .urunImage img:hover {
            color: #999;
            text-decoration: none;
            cursor: pointer;
            transition: 0.3s;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

.tabelForStk {
    height: 12rem;
    overflow: auto;
    margin-bottom: 25px;
}

    .tabelForStk table tbody tr:hover {
        background-color: #e73c68;
        color: white;
        cursor: pointer;
    }

.tableHoverRed tbody tr:hover {
    background-color: #e73c68;
    color: white;
    cursor: pointer;
}

.tableHoverDefault tbody tr:hover {
    background-color: #2A3F54;
    color: white;
    cursor: pointer;
}


.recordNotFoundDiv h3 {
    text-align: center;
}


.container-Stok .nav-tabs li {
    width: 33%;
}

    .container-Stok .nav-tabs li a {
        border-radius: 4rem;
        text-align: center;
    }

        .container-Stok .nav-tabs li a:hover {
            color: white;
            background-color: #2A3F54;
            cursor: pointer;
        }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: #2A3F54;
}

.container-Stok-partial table thead {
    background-color: #2A3F54;
    color: white;
}


.listOfAllStokLinks {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 18%;
    margin-right: 20%;
}

    .listOfAllStokLinks li {
        display: inline-block;
        border: 1px solid #D4CCCC;
        color: #A7A7A7;
        padding: 10px;
        cursor: pointer;
        margin-left: 20px;
        margin-top: 12px;
        border-radius: 5px;
    }

        .listOfAllStokLinks li.active {
            background-color: #007BFF;
            border: 1px solid #007BFF;
            color: white;
            font-weight: 500;
        }


.prodcutOrders, .altStok, .galvanize, .dosya, .stokRecetesi, .bomProcess {
    display: none;
}
/*end Stok*/


/*start uretim basla*/
.card {
    border: solid black 1px;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    box-shadow: 0px 6px 17px 6px #2A3F54;
}

.konrolcss {
    margin-left: 26%;
    margin-top: 10px;
}

.card input:disabled {
    border-radius: 10px;
    border: solid black 1px;
    color: white;
    font-weight: bold;
    background-color: #2A3F54;
    padding: 5px;
}

.card .limitedNumbChosen, .limitedNumbSelect2 {
    width: 400px;
}

.card .btnSubmit {
    margin-left: 77%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    background-color: #2A3F54;
}

/*end uretim basla*/





/*start uretim Bitir*/
.inptUretimBitirDisabled {
    background-color: #2A3F54 !important;
    color: white;
    border-radius: 10px;
    border: solid black 1px;
}

.uretimBitirbtnSubmit {
    margin-left: 77%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
}


.uretimbitirCircle {
    background: #B52E31;
    width: 33px;
    color: white;
    font-weight: bold;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    /*left: 92.5%;
    top: 24.3%;
    position:fixed;*/
    cursor: pointer;
}

    .uretimbitirCircle:hover {
        background-color: black;
        color: white;
    }

.hr-uretimBitir {
    height: 3px;
    width: 106%;
    background-color: black;
    margin-left: -15px;
}

.inp-uretimBitir {
    border-radius: 14px;
    border: 2px solid #B52E31;
    width: 100%;
    color: black;
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    margin: 5px;
}


.cardBitir {
    box-shadow: 0px 6px 17px 6px black;
}
/*end uretim Bitir*/






/* start Bakim Ariza*/
.bakimAriz-listOfAllStokLinks {
    margin-left: 30%;
}

    .bakimAriz-listOfAllStokLinks li {
        display: inline-block;
        border: 1px solid #D4CCCC;
        color: #A7A7A7;
        padding: 10px;
        cursor: pointer;
        margin-left: 20px;
        margin-top: 12px;
        border-radius: 5px;
    }

        .bakimAriz-listOfAllStokLinks li.active {
            background-color: #264656;
            border: 1px solid #007BFF;
            color: white;
            font-weight: 500;
        }

.bakimArizaSearchDiv {
    margin-top: 16px;
    margin-left: -15px;
    display: inline-table !important;
    width: 300px;
    margin-bottom: 10px;
}

.bakimArizaCard {
    box-shadow: 10px 10px 10px #264656;
    border-radius: 20px;
    padding: 10px;
    background-color: #264656;
    color: white;
    opacity: 0;
}

.gecmisBakimArizaContnet {
    display: none;
}

#btn-bakimAriza-submit {
    background-color: white;
    color: #264656;
    font-weight: bold;
    float: right;
    margin-top: 20px;
    border-radius: 12px;
}
/* end Bakim Ariza*/


/* start tamir is emri*/

.urunEtiketitableContent {
    height: 282px;
    overflow-y: scroll;
    width: 100%;
}




.tamirIsEmri-first {
    border: 2px solid #099679;
    padding-top: 4px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 7px 5px 5px #099679;
    width: 30%;
}

.tamirPart {
    border: 2px solid #099679;
    width: 30%;
    padding-top: 4px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 7px 5px 5px #099679;
    margin-left: 20px;
}

.tamirEmriHazirlaPart {
    border: 2px solid #099679;
    padding-top: 4px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 7px 5px 5px #099679;
    margin-left: 10px;
    margin-left: 20px;
}

.tamirPart .select2 {
    width: 200px !important;
    margin-bottom: 5px;
}

.tamirIsEmri-first input {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 185px;
    border: solid black 1px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.tamirIsEmri-first-stk {
    margin-left: 10px;
}

.tamirIsEmri-first-lotNo {
    margin-left: 43px;
}

.tamirIsEmriCard label {
    border-bottom: 2px solid #099679;
}

.tamirPart input {
    margin-top: 10px;
    width: 220px;
    border: solid black 1px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.tamirEmriHazirlaPart input {
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
}

.btn-isEmriHazirla {
    background-color: #0e0d0e !important;
    color: white;
    height: 94px;
    margin-top: 66px;
    text-align: center;
}

    .btn-isEmriHazirla:hover, .btn-isEmriHazirla:focus {
        background-color: #0e0d0e !important;
        color: white;
    }

.btn-isEmriCikti:hover, .btn-isEmriCikti:focus {
    background-color: #a54747;
    color: white
}

.btn-isEmriCikti {
    background-color: #a54747;
    color: white;
    height: 94px;
    margin-top: 66px;
    text-align: center;
}

.tamirIsEmriCard input:disabled {
    background-color: #099679;
    color: white;
}

.tamirIsEmriCard .col-md-4 p:first-child, .tamirIsEmriCard .col-md-2 p:first-child,
.tamirIsEmriCard .col-md-1 p:first-child {
    margin-top: 5px;
    color: red;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    background-color: #099679;
    color: white;
    margin-left: 50%;
}

.tamirIsEmriCard .btn-danger {
    position: relative;
    left: 96%;
    bottom: 15px;
}
/* end tamir is emri*/



/*start orders Managment*/


.alertProcessInOrderDetails {
    padding: 1px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    width: 48%;
    background-color: #099679 ;
    text-align: center;
    border-radius: 10px 120px;
}
/*end orders Managment*/

/* start AllWo*/
.selectedRow {
    background-color: #f0ad4e;
    color: white;
    transition: all 0.5s ease-in-out;
}
/*end AllWo*/
i {
    cursor: pointer;
}

.right_col {
    overflow: auto;
}

.alert-welcomePage {
    background-color: #e73c68;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.welcomepage-conainer {
    margin-top: 6%;
    margin-left: 5%;
}

.first-sec {
    width: 100%;
}

.welcomepage-conainer a {
    color: white !important;
    background-color: #2A3F54;
    height: 9rem;
    text-align: center;
    padding-top: 6%;
}

    .welcomepage-conainer a:hover {
        background-color: #e73c68;
        color: white;
        cursor: pointer;
    }

.first-sec {
    margin-bottom: 3rem;
}

    .first-sec a:nth-child(1), .second-sec a:nth-child(1) {
        width: 45%;
    }

    .first-sec a:nth-child(2), .second-sec a:nth-child(2) {
        width: 45%;
        margin-left: 3rem;
    }

.demo-form-label {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem;
    border-bottom: 1.5px solid red;
}

.demo-form input {
    color: black !important;
}

.select2-results__option[aria-selected] {
    color: #2A3F54;
    font-weight: bold;
    font-size: 0.8rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #2A3F54;
    color: white;
    font-size: 1rem;
}

.select2-container {
    margin-bottom: 0.5rem;
}

.p-rotate {
    margin-bottom: 1rem;
}

.mdi-check:after label {
    font-weight: bold !important;
    color: black !important;
}

#btn-NewNC-submit :focus {
    border-color: none;
}

#btn-newNc-submit {
    background-color: #2a3f54;
    color: white !important;
    border-color: none;
    float: right;
    margin-top: 3%;
}

#newNc-summary span {
    color: black;
    font-weight: bold;
}

#btn-newNc-reset {
    color: white !important;
    border-color: none;
    margin-top: 3%;
}

.nav-sm .nav.side-menu li a {
    font-size: 1rem;
}

/*end welcome page*/
/* start review page*/
.recordNotFound {
    text-align: center;
    color: black;
    display: none;
}

.tableCount {
    color: #10070a;
    font-weight: bold;
}

.nav-review {
    margin-left: 42% !important;
}

    .nav-review li {
        margin-left: 0.5rem;
    }

        .nav-review li a {
            background-color: #2A3F54;
            color: white !important;
        }

            .nav-review li a:hover {
                background-color: #e73c68;
                color: white;
                cursor: pointer;
            }

.container-review .table-bordered tbody tr:hover {
    background-color: #2A3F54;
    color: white;
    cursor: pointer;
}

.redClass {
    background-color: #e73c68;
    color: white;
}

.greenClass {
    background-color: #28a745;
    color: white;
}
/* end review page*/
/* start setUp page*/
.container-setUp .nav-tabs li {
    width: 16%;
}

    .container-setUp .nav-tabs li a {
        border-radius: 4rem;
        text-align: center;
    }

        .container-setUp .nav-tabs li a:hover {
            color: white;
            background-color: #2A3F54;
            cursor: pointer;
        }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .container-setUp .nav-tabs li a:active{
        color: white;
        background-color: #2A3F54;
    }

.container-setUp-partial table thead {
    background-color: #2A3F54;
    color: white;
}

/*claim type*/
.container-claimtype .form-group {
    margin-top: 1rem;
}

    .container-claimtype .form-group label {
        color: black;
        font-weight: 500;
        font-size: 1rem;
    }

    .container-claimtype .form-group select {
        width: 50%;
        color: black;
        font-weight: bold;
    }

.container-claimtype .btn-success {
    margin-top: 1.8rem;
}
/*Company*/




/* end setUp page*/
/*start details */
#detailsMoal {
    margin: 0;
    top: -2rem;
}

.modal-content {
    padding: 0.5rem;
}

#claimType-AddModel label {
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
}

.Header-detailsNc div:nth-child(1) {
    background: rgba(38, 185, 154, 0.88);
    color: wheat;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    text-align: center
}

.Header-detailsNc span {
    position: relative;
    top: 1rem;
}

.Header-detailsNc ul {
    list-style: none;
    float: left;
}

    .Header-detailsNc ul li {
        float: right;
        margin-left: 1rem;
        font-weight: bold;
        color: black;
    }

        .Header-detailsNc ul li:hover {
            cursor: pointer;
            color: #e73c68
        }

.NcDetails-formControl textarea {
    margin-left: 1rem;
}

textarea {
    font-size: 1.5rem;
}

.NcDetails-formControl select {
    margin-left: 2rem !important;
}

.NcDetails-formControl .select2-container--default .select2-selection--multiple {
    width: 25.6rem !important;
}

.container-NcDetails .select2-container--default .select2-selection--multiple {
    width: 25.6rem !important;
}

.NcDetails-formControl {
    margin-bottom: 1rem;
}

    .NcDetails-formControl label {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .NcDetails-formControl input {
        margin-left: 0.5rem !important;
    }

.modal {
    z-index: 100;
}

.modal-backdrop {
    z-index: 50;
}

.immediateAction button:nth-child(1) {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

    .immediateAction button:nth-child(1):hover, .immediateAction button:nth-child(1):focus {
        background-color: #e73c68;
        color: white;
    }

.immediateAction input {
    height: 2rem;
    border: 1.5px solid #2A3F54;
    padding: 4.5px;
    color: black;
    font-weight: 500;
}


.doc-details .select2-container--default .select2-selection--multiple {
    width: 10rem !important;
}

.immediateAction .select2-container--default .select2-selection--multiple {
    width: 13rem !important;
}
/*end details*/


.immediateAction .limitedNumbSelect2, .modal .limitedNumbSelect2 {
    width: 13rem !important;
    height: 10rem !important;
    max-height: none !important;
    background-color: white;
    color: black !important;
}

.modal .select2-container--default .select2-selection--multiple {
    width: 13rem !important;
}

.inpAction {
    width: 7rem;
}

.modal label {
    color: black;
    font-weight: bold;
}


/* Start Reports*/
.reports-nav .nav {
    flex-wrap: unset
}
/*End Reports*/

.tableFontMaxmize {
    font-weight: bold !important;
    font-size: 1rem !important;
}


/* start giris Kontrol */

.girisKontrolCard label {
    font-weight: bold;
    font-size: 1rem;
    color: #b13e5b;
}
/* end giris Kontrol */


/* start urun etiket*/
.etkitCard {
    width: 100%;
    height: auto;
    border: 2px solid black;
    box-shadow: 10px 10px 30px;
    padding:1rem;
}

    .etkitCard label {
        margin-bottom: 10px;
        margin-top: 10px;
        color: black;
        font-weight: bold;
        font-size: 1rem;
        text-decoration: underline;
        text-decoration-color: #b13e5b;
    }


.etiketEkleButtons {
    margin-top: 10px;
}

    .etiketEkleButtons button {
        margin-left: 6px;
        margin-bottom: 15px;
        font-size: 0.9em;
    }


        .etiketEkleButtons button:hover {
            background-color: #28A745 !important;
            color: white !important;
            font-weight: bold;
            box-shadow: 2px 2px 2px #28A745;
        }

        .etiketEkleButtons button:focus {
            outline: none !important;
            background-color: black !important;
            color: white !important;
            border: none;
        }

.btn-etiketEkle {
    margin-top: 9px;
    width: 100%;
    background-color: #ca0298;
    color: white;
    margin-bottom: 30px;
    height: 40px;
    border-radius: 20px;
}

    .btn-etiketEkle:hover, .btn-etiketEkle:focus {
        outline: 0;
    }
.urunEtiketiThirdTable {
    height: 350px;
    overflow-y: scroll;
    border: 2px solid black;
    box-shadow: 10px 10px 30px;
    padding: 15px;
}
/*.printModel {
    opacity: 0;
}*/
/* end urun etiket*/

