/* welcome page*/

i {
    cursor: pointer;
}
.right_col{
    overflow:auto;
}
.alert-welcomePage {
    background-color: #e73c68;
    color: white;
    text-align: center;
    font-size: 1rem;
}
.welcomepage-conainer {
    margin-top: 6%;
    margin-left: 5%;
}
.first-sec {
    width:100%;
}
.welcomepage-conainer a {
    color: white !important;
    background-color: #2A3F54;
    height: 9rem;
    text-align: center;
    padding-top: 6%;
}
    .welcomepage-conainer a:hover {
        background-color: #e73c68;
        color: white;
        cursor: pointer;
    } 
.first-sec {
    margin-bottom:3rem;

}
.first-sec a:nth-child(1),.second-sec a:nth-child(1){
    width:45%;
}
.first-sec a:nth-child(2), .second-sec a:nth-child(2) {
    width: 45%;
    margin-left:3rem;
}
.demo-form-label {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem;
    border-bottom: 1.5px solid red;
}
.demo-form input{
    color:black !important;
}
.select2-results__option[aria-selected] {
    color: #2A3F54;
    font-weight:bold;
    font-size:0.8rem;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #2A3F54;
    color:white;
    font-size:1rem;
}
.select2-container {
    margin-bottom: 0.5rem;
}
.p-rotate{
    margin-bottom:1rem;
}
.mdi-check:after label {
    font-weight: bold !important;
    color:black !important;
}
#btn-NewNC-submit :focus{
    border-color:none;
}
#btn-NewNC-submit {
    background-color: #2a3f54;
    color: white !important;
    border-color: none;
    float: right;
    margin-top: 3%;
}
.nav-sm .nav.side-menu li a 
{
    font-size:1rem;
}

/*end welcome page*/
/* start review page*/
.recordNotFound {
    text-align:center;
    color:black;
    display:none;
}
.tableCount {
    color: #10070a;
    font-weight: bold;
}
.nav-review {
    margin-left: 42% !important;
}
.nav-review li{
    margin-left:0.5rem;
}
.nav-review li a {
    background-color: #2A3F54;
    color: white !important;
}
    .nav-review li a:hover {
        background-color: #e73c68;
        color: white ;
        cursor: pointer;
    }
.table-review tbody tr:hover {
    background-color: #e73c68;
    color: white;
    cursor:pointer;
}
/* end review page*/
/* start setUp page*/
.container-setUp .nav-tabs li {
    width: 16%;

}
.container-setUp .nav-tabs li a {
        border-radius: 4rem;
        text-align: center;
}
    .container-setUp .nav-tabs li a:hover {
        color: white;
        background-color: #2A3F54;
        cursor:pointer;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: white;
        background-color: #2A3F54;
    }
    .container-setUp-partial table thead {
        background-color: #10070a;
        color: white;
    }


.container-claimtype .form-group {
    margin-top:1rem;
}
.container-claimtype .form-group label{
    color:black;
    font-weight:500;
    font-size:1rem;
}
.container-claimtype .form-group select {
    width: 50%;
    color:black;
    font-weight:bold;
}
.container-claimtype .btn-success{
    margin-top:1.8rem;
}
/* end setUp page*/
/*start details */
#detailsMoal {
    margin: 0;
    top:-2rem;
}
.modal-content {
    padding: 0.5rem;
}
#claimType-AddModel label{
    color:black;
    font-weight:bold;
    font-size:0.8rem;
}
.modal-lg, .modal-xl {
    max-width: 100% !important;
}
.Header-detailsNc div:nth-child(1) {
    background: rgba(38, 185, 154, 0.88);
    color: wheat;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    text-align: center
}
.Header-detailsNc span{
 position:relative;
 top:1rem;
}
.Header-detailsNc ul {
    list-style: none;
    float: left;
}
.Header-detailsNc ul li{
    float:right;
    margin-left:1rem;
    font-weight:bold
}
.NcDetails-formControl .select2-container--default .select2-selection--multiple {
    width: 25.6rem !important;
}
.container-NcDetails .select2-container--default .select2-selection--multiple {
    width: 25.6rem !important;
}
.NcDetails-formControl {
    margin-bottom:1rem;

}
.NcDetails-formControl label
{
    margin-left:0.5rem;
    margin-right:0.5rem;
}
  .NcDetails-formControl  input{
        margin-left:0.5rem !important;
    }

.modal {
       z-index:100;

}
.modal-backdrop {
    z-index:50;
}

.immediateAction button:nth-child(1) {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
    .immediateAction button:nth-child(1):hover ,.immediateAction button:nth-child(1):focus {
        background-color: #e73c68;
        color: white;
    }
.immediateAction input {
    height: 2rem;
    border: 1.5px solid #2A3F54;
    padding: 4.5px;
    color: black;
    font-weight: 500;
}
.immediateAction .select2-container--default .select2-selection--multiple {
    width: 10rem !important;
    height: 2.7rem;
}
    .immediateAction .select2-container--default .select2-selection--multiple :focus {
        border-radius: 1rem !important;
    }
.doc-details .select2-container--default .select2-selection--multiple {
    width: 10rem !important;
}

/*end details*/


